[tool.poetry]
name = "hotaru"
version = "3.0.1"
description = "High performance Optimizer to extract spike Timing And cell location from calcium imaging data via lineaR impUlse"
license = "GPL-3.0-only"
authors = ["TAKEKAWA Takashi <takekawa@tk2lab.org>"]
readme = 'README.md'
repository = "https://github.com/tk2lab/HOTARU"
keywords = ["Calcium Imaging", "Spike Detection", "Cell Extraction"]

[tool.poetry.dependencies]
python = "^3.6.1 || ^3.7 || ^3.8"
tensorflow = "^2.2.0"
numpy = "^1.18.4"
pandas = "^1.0.3"
tifffile = "^2020.5.11"
matplotlib = "^3.2.1"
cleo = "^0.8.1"
GPUtil = "^1.4.0"
scikit-image = "^0.17.2"

[tool.poetry.dev-dependencies]
pytest = "^5.4.1"
pyformat = "^0.7"
ipython = "^7.15.0"

[tool.poetry.scripts]
hotaru = "hotaru.console:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
